/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 0 2em;
    width: 100%;
    z-index: 15;
    box-sizing: border-box;
    // background-color: #000;
    a {
      color: white;
    }
    li {
      padding: 1em;
      font-size: 16px;
    }
}
  
#header nav {
    margin-left: auto;
}
.nav-menu {
    display: flex;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.top-title {
    font-size: 2.6rem;
}



/*-------------------------------------------
レスポンシブ
-------------------------------------------*/

$mobile-size: 768px;

@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}


/* モバイル：ハンバーガーメニュー-------------------------------------------*/
@include mobile {
  #header {
    padding: 0 1em;
    position: fixed;
    background-color: #333;
  }
  #nav {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
  }

  .nav-menu {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // 🍔メニュー 三本線の設定
  .hamburger-btn {
    top: 25px;
    width: 30px;
    height: 30px;
    right: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 20;
  }
  span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
  span:nth-child(1) {
    top: 4px;
  }
  span:nth-child(2) {
    top: 14px;
  }
  span:nth-child(3) {
    bottom: 4px;
  }

  // 🍔メニュークリック時 三本線をバツにする。
  .open {
    #nav {
      left: 0;
      opacity: 1;
      transition: all 0.5s;
    }
    .btn-line {
        background-color: #fff;
    }
    span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg); // rotate でななめに設定
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg); // rotate でななめに設定
    }
  }

  // 🍔メニューを押下後、閉じることのできるクリックエリアを指定
  #hamburger-btn-area {
    transition: all 0.5s;
  }

  .open #hamburger-btn-area {
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
  }

  // 🍔を押下後、メニューを表示する。
  .open #nav {
    left: 0;
    opacity: 1;
    transition: all 0.5s;
    display: block;
    z-index: 15;
  }


}

