body {
    line-height: 1.7;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}
img {
    width: 100%;
    vertical-align: bottom;
}

$mobile-size: 768px;
@mixin mobile {
    @media (max-width: $mobile-size) {
        @content;
    }
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 0 2em;
    z-index: 1;
    width: 100%;
    z-index: 15;
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .top-title {
        font-size: 2.6rem;

    }


    @include mobile {
        padding: 0 1em;
    }
    a {
        color: white;
    }
    nav {
        margin-left: auto;
    }
    .nav-menu {
        display: flex;
    }
    li {
        padding: 1em;
        font-size: 16px;
    }
}


@include mobile {
    #nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
    }
    .nav-menu {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // 🍔メニュー 三本線の設定
    .hamburger-btn {
        top: 25px;
        width: 30px;
        height: 30px;
        right: 35px;
        position: fixed;
        cursor: pointer;
        z-index: 20;

        span {
            position: absolute;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: #fff;
        }
        span:nth-child(1) {
            top: 4px;
        }
        span:nth-child(2) {
            top: 14px;
        }
        span:nth-child(3) {
            bottom: 4px;
        }
    }

    // 🍔メニュークリック時 三本線をバツにする。
    .open  {
        #nav {
            left: 0;
            opacity: 1;
            transition: all 0.5s;
        }
        .btn-line {
            background-color: #fff;
        }
        span:nth-child(1) {
            transform: translateY(10px) rotate(-315deg); // rotate でななめに設定
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: translateY(-10px) rotate(315deg); // rotate でななめに設定
        }
    }

    // 🍔メニューを押下後、閉じることのできるクリックエリアを指定
    #hamburger-btn-area {
        transition: all 0.5s;
    }
    
    .open #hamburger-btn-area {
        background-color: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        opacity: 0.8;
        z-index: 10;
        cursor: pointer;
    }
    
    // 🍔メニューを押下後、メニューを表示する。
    .open #nav {
        left: 0;
        opacity: 1;
        transition: all 0.5s;
        display: block;
        z-index: 15;
    }
}
/*-------------------------------------------
メイン/トップ画像
-------------------------------------------*/
#page-header {
    height: 100vh;
    min-height: 550px;
    position: relative;
    // background-image: url(img/fv-bgi_01@2x.jpg);
    // background-size: cover;
    // background-position: center;
    color: #fff;
    
    .page-header-info {
        font-size: 5rem;
        position: absolute;
        bottom: 180px;
        left: 120px;
        font-weight: bold;
        z-index: 15;
    }
    .page-header-title {
        margin: 0;
    }
    .page-header-text {
        font-size: 2rem;
        text-align: center;
    }
}




/*-------------------------------------------
メイン：CONSEPT
-------------------------------------------*/
.section-content {
    padding: 100px 0 70px;

    .section-title {
        max-width: 1000px;
        color: #282F35;
        font-size: 4rem;
        font-style: italic;
        margin: 0 auto 80px;
        padding: 0 20px;
    }
    .section-title::after {
        content: "";
        display: inline-block;
        background-color: #282F35;
        width: 200px;
        height: 5px;
        margin-left: 30px;
        vertical-align: middle;
    }

}
.section-inner {
    max-width: 1000;
    margin: 0 auto;
    padding:  50px;
}
.inner-title {
    max-width: 660px;
    font-size: 2rem;
    line-height: 1.87;
    font-weight: bold;
    margin: 0 auto;
}
.section-bottom {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 9rem;
    opacity: .05;
}