/*-------------------------------------------
共通処理
-------------------------------------------*/
body {
  line-height: 1.7;
  font-size: 0.9rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

p {
  margin: 0;
}

$mobile-size: 768px;

@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}

.section-title {
  max-width: 1000px;
  color: #282f35;
  font-size: 4rem;
  font-style: italic;
  margin: 0 auto 80px;
  padding: 0 20px;

  @include mobile {
    font-size: 2.5rem;
  }
}

.section-title::after {
  content: "";
  display: inline-block;
  background-color: #282f35;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;

  @include mobile {
    width: 100px;
  }
}

.section-bottom {
  text-align: right;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 6rem;
  opacity: 0.05;

  @include mobile {
    font-size: 3rem;
    padding-right: 20px;
  }
}

.btn {
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 70px auto 50px;
  background-color: #f7d43f;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 0 2em;
  width: 100%;
  z-index: 15;
  box-sizing: border-box;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .top-title {
    font-size: 2.6rem;
  }

  .fixed {
    position: fixed;
    background-color: #282f35;
    padding: 30px;
    width: 100%;
    transition: 0.3s;
  }
  @include mobile {
    padding: 0 1em;
  }

  a {
    color: white;
  }

  nav {
    margin-left: auto;
  }

  .nav-menu {
    display: flex;
  }

  li {
    padding: 1em;
    font-size: 16px;
  }
}

@include mobile {
  #nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
  }

  .nav-menu {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // 🍔メニュー 三本線の設定
  .hamburger-btn {
    top: 25px;
    width: 30px;
    height: 30px;
    right: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 20;

    span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }

    span:nth-child(1) {
      top: 4px;
    }

    span:nth-child(2) {
      top: 14px;
    }

    span:nth-child(3) {
      bottom: 4px;
    }
  }

  // 🍔メニュークリック時 三本線をバツにする。
  .open {
    #nav {
      left: 0;
      opacity: 1;
      transition: all 0.5s;
    }

    .btn-line {
      background-color: #fff;
    }

    span:nth-child(1) {
      transform: translateY(10px) rotate(-315deg); // rotate でななめに設定
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-10px) rotate(315deg); // rotate でななめに設定
    }
  }

  // 🍔メニューを押下後、閉じることのできるクリックエリアを指定
  #hamburger-btn-area {
    transition: all 0.5s;
  }

  .open #hamburger-btn-area {
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
  }

  // 🍔メニューを押下後、メニューを表示する。
  .open #nav {
    left: 0;
    opacity: 1;
    transition: all 0.5s;
    display: block;
    z-index: 15;
  }
}

/*-------------------------------------------
メイン/トップ画像
-------------------------------------------*/
#page-header {
  min-height: 550px;
  position: relative;
  color: #fff;

  img {
    height: 100vh;
    object-fit: cover;
  }

  .page-header-info {
    font-size: 5rem;
    position: absolute;
    bottom: 170px;
    left: 120px;
    font-weight: bold;
    z-index: 1;

    @include mobile {
      font-size: 9.8vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  .page-header-title {
    margin: 0;

    @include mobile {
      font-size: 3rem;
    }
  }

  .page-header-text {
    font-size: 2.4rem;
    text-align: center;

    @include mobile {
      font-size: 2rem;
    }
  }

  .line-gap {
    display: none;

    @include mobile {
      display: block;
    }
  }
}

/*-------------------------------------------
メイン：CONSEPTエリア
-------------------------------------------*/
.section-content {
  padding: 5em 0 2em;

  .section-inner {
    max-width: 1000;
    margin: 0 auto;
    padding: 0 50px;

    @include mobile {
      padding: 0 20px;
    }
  }

  .inner-title {
    max-width: 660px;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;

    @include mobile {
      font-size: 1.5em;
    }
  }

  .inner-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    font-weight: bold;
    margin: 0 auto;
    padding: 2em 0;
    justify-content: space-between;

    @include mobile {
      display: block;
    }
  }

  .inner-content-text {
    max-width: 440px;
    line-height: 1.87;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 30px;
  }

  .inner-content-image {
    width: 44%;
    margin-left: 20px;

    @include mobile {
      width: 100%;
      margin-left: 0;
    }
  }
}

/*-------------------------------------------
メイン：Worksエリア
-------------------------------------------*/
.section-works {
  background-image: url(img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;

  .section-title {
    text-align: right;
    color: #fff;
    margin-bottom: 100px;
  }

  .section-title::after {
    background-color: #fff;
  }

  .news-area {
    padding: 0 27em;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));

    @include mobile {
      margin: 2em;
      padding: 0;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  .news-content {
    background-color: #fff;
    width: 100%;
  }

  .news-text {
    padding: 2em;
  }

  .section-bottom {
    color: #fff;
    text-align: left;
    opacity: 0.1;
  }
}

/*-------------------------------------------
メイン：Serviceエリア
-------------------------------------------*/
.section-service {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-size: 3rem;

  .service-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
      @include mobile {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      }
    }

    a:hover {
      background-color: #000;
      z-index:15;
    }
 

  .img01 .service-title {
    color: white;
    position: absolute;
    bottom: 40%;
    top: 50%;
    left: 10%;
    font-weight: bold;
    z-index: 1;

    @include mobile {
      top: 25%;
      left: 20%;
    }
  }

  .img02 .service-title {
    color: white;
    position: absolute;
    top: 50%;
    bottom: 40%;
    left: 44%;
    font-weight: bold;
    z-index: 1;

    @include mobile {
      left: 20%;
    }
  }

  .img03 .service-title {
    color: white;
    position: absolute;
    top: 50%;
    bottom: 40%;
    left: 80%;
    font-weight: bold;
    z-index: 1;

    @include mobile {
      top: 75%;
      left: 20%;
    }
  }

}

/*-------------------------------------------
メイン：Contactエリア
-------------------------------------------*/
.section-contact {
  background-image: url(img/contact-bgi@2x.jpg);
  padding: 2em;

  .section-title {
    text-align: right;
    color: #fff;
    margin-bottom: 100px;
  }

  .section-title::after {
    background-color: #fff;
  }

  .section-comment {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .btn {
    margin: 40px auto 50px;
  }

  .section-bottom {
    color: #fff;
    text-align: left;
    opacity: 0.1;
  }
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer-text {
  padding: 2em;
  text-align: center;
}